/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End reset CSS */

html, body {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

#menu-bar {
  background: rgb(218, 218, 218);
  background: -moz-linear-gradient(270deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  background: -webkit-linear-gradient(270deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  background: -o-linear-gradient(270deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  background: -ms-linear-gradient(270deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  background: linear-gradient(0deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  border-bottom: 1px solid #D2D1CF;
  font-family: 'Arvo', serif;
  font-size: 1em;
  opacity: 0.8;
  padding: 5px;
  text-align: center;
  z-index: 1;
  width: 100%;
  white-space: nowrap;
}

#menu-bar * {
  display: inline-block;
}

#menu-bar .wrapper {
  width: 25%;
}

#menu-bar .text {
  margin-left: 5px;
  vertical-align: middle;
}

#menu-bar .image {
  background-position: left center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#info-wind-speed {
  background-image: url(assets/windspeed-indicator-up.png);
  height: 25px;
  width: 25px;
}

#info-precipitation-chance {
  background-image: url(assets/raindar-icon.png);
  height: 22px;
  width: 22px;
}

#info-temperature {
  background-image: url(assets/temperature-icon.png);
  height: 22px;
  width: 22px;
}

#button-change-map-view.map {
  background-image: url(assets/toggle-map-on--satellite-off.png);
  height: 33px;
  width: 73px;
}

#button-change-map-view.satellite {
  background-image: url(assets/toggle-map-off--satellite-on.png);
  height: 33px;
  width: 73px;
}

#playback-bar {
  background: rgb(218, 218, 218);
  background: -moz-linear-gradient(270deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  background: -webkit-linear-gradient(270deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  background: -o-linear-gradient(270deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  background: -ms-linear-gradient(270deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  background: linear-gradient(0deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 73%);
  bottom: 0;
  font-family: 'Arvo', serif;
  font-size: 1em;
  opacity: 0.8;
  padding: 5px;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 100%;
  white-space: nowrap;
}

#playback-bar * {
  display: inline-block;
}

#playback-bar .text {
  vertical-align: middle;
}

#playback-bar .image {
  background-position: left center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#button-play {
  background-image: url(assets/play-icon.png);
  height: 22px;
  width: 22px;
}

#info-location-time-wrapper {
  width: 80%;
}

.info-location-time-text.location, .info-location-time-text.date {
  font-size: 0.8em;
}

#button-about {
  background-image: url(assets/_info-icon.png);
  height: 22px;
  width: 22px;
}

@media screen and (min-width: 60em) {
  #menu-bar {
    position: absolute;
    right: 0;
    width: 33%;
  }

  #playback-bar {
    bottom: auto;
    width: 33%;
  }
}